<?xml version="1.0"?>
<launch>

	<!--<include file="$(find dbw_mkz_can)/launch/dbw.launch"/> -->                         
	<!--<include file="$(find delphi_esr)/launch/delphi_esr_car.launch"/> -->
  	<include file="$(find xsens_mti_driver)/launch/xsens_mti_node.launch"/> 
    <include file="$(find piksi_multi_rtk_ros)/launch/piksi_multi_rover.launch"/>


<!-- <node name="Panorama" pkg="flir_adk_multi" type="StitchPano.py" output="screen"></node> -->

<!-- low level controller script autostart: -->
<node name="ll_cont" pkg="acc" type="ll_controller.py" output="screen" cwd ="node"></node> 


</launch>




