<?xml version="1.0"?>
<launch>
 

<node name="cacc1_cont" pkg="v_cacc" type="cacc1_controller.py" output="screen" cwd ="node"></node>
<node name="timeServer" pkg="v_cacc" type="time_server.py" output="log" cwd ="node"></node> 

<!-- <node name="Panorama" pkg="flir_adk_multi" type="StitchPano.py" output="screen"></node> -->

<!-- low level controller script autostart: -->
<!-- <node name="ll_cont" pkg="acc" type="ll_controller.py" output="screen" cwd ="node"></node> -->


</launch>




